<div class="main__container">
    <div class="items__container">
        <div class="header__extension">
            <h1 class="header--title">Extensions List</h1>
            <div class="header__container--buttons">
                <button class="header--btn all" [class.active]="selectedActive == 'all'"  (click)="filterExtensions('all')">All</button>
                <button class="header--btn active" [class.active]="selectedActive == 'active'" (click)="filterExtensions('active')">Active</button>
                <button class="header--btn inactive" [class.active]="selectedActive == 'inactive'" (click)="filterExtensions('inactive')">Inactive</button>
            </div>
        </div>
        <div class="cards__container">
            @for (item of filteredExtensions; track $index) {
            <div class="card">
                <div class="card__container--txt">
                    <div class="card__container--top">
                        <img [src]="item.logo" alt="logo">
                        <div class="card--txt">
                            <p class="card--title">{{item.name}} </p>
                            <p class="card--description">{{item.description}} </p>
                        </div>
                    </div>
                    <div class="card__container--bottom">
                        <button class="cardBtn--remove">Remove</button>
                        <label for="switch" class="switchActive">
                            <input type="checkbox" name="switch" [checked]="item.isActive" >
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>