@import '../../src/styles.scss';

.items__container{
    width: 100%;
    height: 100%;
    padding: 3rem clamp(3rem, -26.538rem + 28.846vw, 15rem);
    // background: var(--backgroundTheme);
}

header{
    background-color: var(--cardBackground);
    width: 100%;
    height: 7rem;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: var(--borderCard);
}

.switchThemeBtn{
    border-radius: 8px;
    border: none;
    padding: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--buttonColor);
    &:hover{
        background-color: var(--grayInactive);
    }
    &:focus{
        border: 1px solid var(--redActive);
    }
}

@media(min-width: 1441px){
    .items__container{
        padding: 3rem clamp(16rem, -35.51rem + 35.746vw, 56rem);
    }
}


